/* Floatings */
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}
.float-none {
	float: none !important;
}

.page-header-content.navbar-fixed-top {
	padding-bottom: 50px;
}
.page-title {
    border-bottom: 1px solid #fff;
}
.navbar-content {
	
}
.panel-filter {
	
}

.pwAuctionStat {
	border-radius: 50px;
	padding: 5px 15px;
	margin-top: -5px;
}
.pwAuctionStat.pwHighest {
	border: 1px solid #41CC7D;
	color: #41CC7D;
}
.pwAuctionStat.pwLoose {
	border: 1px solid #F56978;
	color: #F56978;
}


.pw-icon-large {
	min-height: 70px;
	height: 100%;
	background-size: contain !important;
}
.pw-icon-small {
    width: 35px;
    height: 35px;
    background-size: contain !important;
}
.pw-icon-large {
	
}

.pw-icon-ibc {
	background: url(img/icon_ibc_full.png) left center no-repeat;
}
.pw-icon-barrel-steel {
	background: url(img/icon_barrel_steel.png) left center no-repeat;
}
.pw-icon-barrel-pv {
	background: url(img/icon_barrel_pv.png) left center no-repeat;
}



/* auf Bootrstrap geänderte Klassen, in Verbindung mit neuen Klassen */


.status-mark {
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid;
    padding: 0px 5px;
    background: #f66878;
    font-size: 8px;
    line-height: 13px;
    right: 1px !important;
    top: 25px !important;
}

.auction-list-item .count-mark {
	width: auto;
	height: auto;
	display: inline-block;
	border-radius: 50px;
	border: 2px solid;
	padding: 0px 10px;
	background: #f66878;
	font-size: 14px;
	line-height: 20px;
	left: 40%;
	top: 50%;
	position: absolute;
	color: #fff;
	border-color: #fff;
}
.auction-list-item .count-mark-small {
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid;
    padding: 0px 10px;
    background: #f66878 ;
    font-size: 10px;
    line-height: 20px;
    left: 40%;
    top: 10px;
    position: absolute;
    color: #fff;
    border-color: #fff;
}

.auction-list-item .text-right {
	color: #929292;
}
.auction-list-item-content {
	margin-top: 15px;
}
.auction-list-item .title-bold {
	font-weight: 600;
	margin-right: 15px;
}
.auction-list-item .title-light {
	font-weight: 100;
}
.auction-list-item, 
.item-hover {
    transition: all 0.5s ease !important;
}
.auction-list-item:hover, 
.item-hover:hover {
    box-shadow: 0 2px 5px #ddd;
    transform: translateY(-1px);
}

.auction-list-item.highlight-current {
    border-left: 5px solid #3498ff;
}
.auction-list-item.highlight-closed {
	border-left: 5px solid #FF5722;
}
.auction-list-item.highlight-pending {
	border-left: 5px solid #c0c3c7;
}
.auction-list-item .col-md-8 .row {
    border-top: 1px solid #ddd;
}
.col-md-8 .text-right,
.col-md-8 .text-left {
    line-height: 35px;
}
.auction-list-item.small-items .count-mark {
    top: 17%;
}

.dropdown-menu > li > a > i.float-right{
    margin-right: 0px;
    margin-left: 12px;
    float: right;
    margin-top: 2px;
    top: 0;
}
i.icon-trash.float-right:hover {
    background: #dcdcdc;
    padding: 15px;
    margin: -15px;
}

.rc-switch-checked:after {
    left: 16px !important;
}
.rc-switch {
    width: 32px !important;
    height: 17px !important;
}
.rc-switch:after {
    width: 13px !important;
    height: 13px !important;
}




/* Quick n dirty Design-Anpassungen ! Später verbessern ! */
.checkbox-inline input[type="checkbox"] {
    margin-top: -10px;
}



